.buidly-extension-login {
  box-sizing: border-box;
}

.login-text {
  box-sizing: border-box;
}

.no-buidly-extension-button-wrapper {
  box-sizing: border-box;
}

.noBuidlyExtensionButtonContent {
  box-sizing: border-box;
}

.no-buidly-extension-button-title {
  box-sizing: border-box;
}